<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Почтовый ящик</title>
        <link rel="stylesheet" href="index.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body ng-app="userMail">
        <h1>Message list</h1>
        <div class="wrapper" ng-controller="UserController as userController">
            <div class="userSection">
                <select 
                    ui-sref="messages({ email: userController.selectedUser.user })"
                    ng-change="userController.refreshData()" 
                    ng-model="userController.selectedUser" 
                    ng-options="user.user for user in userController.users">
                </select>
            </div>
            <div class="sectionBlock">
                <label id="inputMsg" ui-sref="messages.input({ email: userController.selectedUser.user })" ng-click="userController.onSectionClickHandler('input')">
                    Входящие <span><p>{{userController.selectedUser.inputMsgs.length}}</p></span>
                </label><br />
                <label id="outputMsg" ui-sref="messages.output({ email: userController.selectedUser.user })" ng-click="userController.onSectionClickHandler('output')">
                    Исходящие <span><p>{{userController.selectedUser.outputMsgs.length}}</p></span>
                </label><br />
                <label id="markedMsg" ui-sref="messages.marked({ email: userController.selectedUser.user })" ng-click="userController.onSectionClickHandler('marked')" for="markedMsg">
                    Помеченные <span><p>{{userController.selectedUser.markedMsgs.length}}</p></span>
                </label>
                <label class="contactsBtn" for=":userEmail/contacts" ui-sref="contacts({ email: userController.selectedUser.user })"></label>
            </div>
            <ul class='msg_block'>
                <ui-view></ui-view>
            </ul>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="src/routes.js"></script>
        <script src="src/index.js"></script>
    </body>
</html>