body {
    font-family: 'Roboto';
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #52b6d5;
    padding: 20px;
    box-sizing: border-box;
}

.wrapper {
    font-size: 0;
}

.msg_block contacts {
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}

contacts a {
    font-size: 15px;
}

.msg_block {
    min-width: 600px;
    font-size: 18px;
    padding-top: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(227, 151, 70);
}

.msg_block .contacts {
    min-width: 600px;
    padding: 15px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.msg_block .noContactsHeader {
    width: 400px;
    text-align: center;
    display: inline-block;
}

img {
    width: 100px;
    height: 100px;
}

ul {
    border-left: 2px solid black;
    width: 75%;
    margin-top: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
}

li {
    padding-left: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

li button {
    margin-bottom: 20px;
    background: url('src/img/openMsg.png') no-repeat;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

li button.isClosed {
    background: url('src/img/closeMsg.png') no-repeat;
    background-size: 50px 50px;
}

li h4,
li h2,
li h3 {
    margin-top: 0;
}

li h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

li h3 {
    font-size: 18px;
    margin-top: 5px;
}

li .date {
    margin-bottom: 5px;
}

ul message:last-child li {
    margin-bottom: 0;
    border-bottom: none;
}

div p,
div h4 {
    font-size: 18px;
}

.sectionBlock {
    width: 150px;
    font-size: 18px;
    padding: 15px;
    border: 2px solid black;
    border-right: none;
    border-radius: 3px;
    background: #ece8e8;
    margin-right: 0;
    vertical-align: top;
    display: inline-block;
}

.sectionBlock input[type="radio"] {
    display: none;
}

.sectionBlock input[type="radio"]:checked + label {
    animation-name: showBorderBottom;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes showBorderBottom {
   0% {
      border-bottom: 2px solid #e8e4e4;
   }
   
   100% {
      border-bottom: 2px solid #6982dd;
   }
}

.sectionBlock label[class*="contactsBtn"] {
    width: 50px;
    height: 50px;
    border: none;
    display: block;
    background: url('src/img/contacts.png') no-repeat;
    background-size: 50px 50px;
    cursor: pointer;
    outline: none;
}

.sectionBlock label {
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    display: inline-block;
    cursor: pointer;
}

.sectionBlock label span {
    display: inline-block;
    width: auto;
    border-radius: 50%;
    background: #d79168;
    text-align: center;
    padding: 2px 7px;
}

.sectionBlock label p {
    margin: 0;
}

.contact {
    background: #cabde6;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    height: 350px;
}

.contact a {
    display: inline-block;
    margin-bottom: 10px;
}

.contact__deleteContact {
    width: 40px;
    height: 40px;
    background: url('src/img/deleteContact.png') no-repeat;
    border: none;
    background-size: 40px;
    cursor: pointer;
}

.userSection select {
    width: 220px;
    font-size: 15px;
    font-family: 'Roboto';
    padding: 5px;
    box-sizing: border-box;
}